<% guilds.each do |guild| %>
<% 
  membership = guild.memberships.find_by_user_id(current_user.id)
%>

<table class='event'>
  <tr>
    <td class='none'></td>  <td class='none'></td>
    <td class='none'></td>
  </tr>
  <tr class='body'>
    <td class='event-album-cover'><%= album_cover guild.album, :medium %></td>
    <td class='description'>
      <span class='title'><%= guild_link guild %></span><br/>
      <div class='detail'>
        <%= label_tag '', '会长' %> <%= profile_link guild.president %><br/>
        <%= label_tag '', '创建于' %> <%= ftime guild.created_at %><br/>
        <%= label_tag '', '游戏' %> <%= guild.game.name %><br/>
        <%= label_tag '', '会员数' %> <%= guild.all_count %><br/>
      </div>
      <span class='status'>
        <%= label_tag '', '你的职务' %><%= show_membership_info membership, guild %>
      </span>
    </td>
    <td class='menu'>
      <li><%= link_to '查看会员', guild_memberships_url(guild) %></li>
      <% if current_user == guild.president %>
        <li><%= link_to '邀请更多人', new_guild_invitation_url(guild) %></li>
				<li><%= link_to '编辑工会', edit_guild_url(guild) %></li>
      <% end %>
    </td>
  </tr>
</table>

<% end %>

<%= will_paginate guilds %>
