<ul class='friendCards' id='friends'>
<% @friends.each do |f| %>
  <li id='friend_<%= f.id %>'>
    <div class='friendCard'>
      <div class='avatar'>
        <%= avatar f %>
      </div>
      <div class='option'>
        <%= facebox_confirm 'x', friend_url(f), {:msg => '你确定要解除好友关系吗?', :method => :delete} %>
      </div>
      <div class='info'>
        <%= profile_link f %><br/>
        <%= f.games.map {|g| g.name}.join(',') %>
      </div>
    </div>
  </li>
<% end %>
</ul>

  <% if @remote %>
    <%= will_paginate friends, :renderer => 'RemoteLinkRenderer', :remote => @remote %>
  <% else %>
    <%= will_paginate friends %>
  <% end %>
