<% content_for :left do %>
	<div>
		<div><%= avatar @user, :medium %></div>
    <ul>
      <li><%= link_to "发站内信", new_mail_url(:recipient_id => @user.id)%></li>
      <li><%= link_to "打招呼", new_poke_url(:id => @user.id) %></li>
    </ul>
	</div>
	<%= render :partial => 'profile/profiles/menu' %>
<% end %>

<% content_for :right do %>
	<div>
		<%= render :partial => 'profile/tags/tag_cloud' %>
	</div>
<% end %>

<strong><%= @user.login %>:</strong>
<% unless @user.latest_status.blank? %>
  <%= @user.latest_status.content %>
   <span class='status-show-tiny'><%= distance_of_time_in_words_to_now @user.latest_status.created_at %> ago</span>
<% else %>
   <span style="color:grey">这家伙什么都没留下</span>
<% end %> 
<div class='yellow-info'>
    <strong><%= label_tag '', '想了解更多吗?' %></strong><br/>
    <%= link_to (image_tag 'add_friend.gif', :style => "border:0px;"), new_friend_request_url(:friend_id => @user.id), :rel => 'facebox' %> or <strong><%= link_to "send him an email" %></strong>
</div>

<div class='visitors' style="width:560px;">
<h3>共同的好友</h3>
<ul>
	<% @user.common_friends_with(current_user, 8).each do |f| %>
		<%= avatar f %>
		<%= profile_link f %>
	<% end %>
</ul>
<div class='view-all'>
  <%= link_to '查看他全部的好友', someone_friends_url(:user_id => @user.id) %>
</div>
</div>
