<%= poll_item = participated_poll_item %>
<div class='poll-item'>
  <div class='avatar'>
    <%= avatar poll_item.poster %><br/>
    <%= profile_link poll_item.poster %>
  </div>
  <div class='poll-body'>
    <div class='poll-title'>
       <%= poll_item.name %><span class='meta'><%= distance_of_time_in_words_to_now poll_item.created_at %></span>
    </div>
    <div class='poll-content'>
      你选了: <%= poll_item.votes_by(current_user).map { |v| "#{truncate v.poll_answer.description, :lenght => 20, :omission => '...'}" }.join(',') %>
    </div>
  </div>
  <div class='poll-vote'>
    <%= poll_item.subscribers_count %>人参加了投票<br/>
  </div>
</div>

