<% content_for :left do %>
  <%= render :partial => '/app_menu' %>
  <div class='blog-right-bar'>
    <div class='part'>
      <h3>投票分类: </h3>
      <% game_options = [['全部', nil]] %>
      <% @user.games.each {|g| game_options << [g.name, g.id] } %>
      <%= select_tag '', options_for_select(game_options, params[:game_id].to_i), :onchange => "window.location.href = '#{participated_polls_url(:id => @user.id)}' + '&game_id=' + this.value;" %>
    </div>
  </div>
<% end %>
  
<div>
<%= render :partial => 'poll/menu' %>
</div>


<table>
  <%= render :partial => 'participated_poll_item', :collection => @polls %>
</table>

<%= will_paginate @polls %>

