<% delivery = avatar_feed_delivery %>
<% avatar = delivery.feed_item.originator %>
<% album = avatar.album %>
<div id='feed_delivery_<%= delivery.id %>'>
  <div><%= avatar album.poster %></div>
  <div>
    <%= profile_link album.poster %>更新了头像
  </div>
  <div><%= photo_link avatar %></div>
  <div><%= link_to_remote 'x', :url => feed_delivery_url(delivery), :method => :delete %></div>
  <div><%= ftime delivery.created_at %></div>
</div>
