<% delivery = event_feed_delivery %>
<% event = delivery.feed_item.originator %>
<div id='feed_delivery_<%= delivery.id %>'>
	<div><%= avatar event.poster %></div>
	<div><%= profile_link event.poster %>发布了活动<%= event_link event %></div>
	<div><%= link_to_remote 'x', :url => feed_delivery_url(delivery), :method => :delete %></div>
	<div><%= ftime delivery.created_at %></div>
</div>
