<% delivery = event_album_feed_delivery %>
<% album = delivery.feed_item.originator %>
<% event = album.event %>
<% photos = Photo.find(delivery.feed_item.data[:ids]) %>
<% poster = User.find(delivery.feed_item.data[:poster_id]) %>
<div id='feed_delivery_<%= delivery.id %>'>
	<div><%= avatar poster %></div>
	<div><%= profile_link poster %>上传了<%= photos.count %>张照片到<%= album_link album %></div>
	<div><%= link_to_remote 'x', :url => feed_delivery_url(delivery), :method => :delete %></div>	
	<div><%= ftime delivery.created_at %></div>
	<div>
		<div>
			<% if photos.count >= 4 %>
				<%= link_to_function '上一张', "slide_manager.get(#{delivery.id}).prev();" %>
			<% end %>
		</div>
		<div>
		<ul>
			<% window_size = (photos.count > 4)? 4 : photos.count %>
			<% window_size.times do |i| %>
				<li id='frame_<%= i %>'></li>
			<% end %>
		</ul>
		<div>
			<% if photos.count >= 4 %>
				<%= link_to_function '下一张', "slide_manager.get(#{delivery.id}).next();" %>
			<% end %>
		</div>
	</div>
</div>

<% photo_ids = array_or_string_for_javascript photos.map(&:id) %>
<% urls = array_or_string_for_javascript photos.map {|p| p.public_filename(:small)} %>
<%= javascript_tag "
	slide = new PhotoSlide('personal_photo', #{photo_ids}, #{urls}, #{window_size}, #{photo_ids[window_size/2]});
	slide_manager.set_slide(#{delivery.id}, slide);
" %>
