<% delivery = guild_feed_delivery %>
<% guild = delivery.feed_item.originator %>
<div id='feed_delivery_<%= delivery.id %>'>
	<div><%= avatar guild.president %></div>
	<div><%= profile_link guild.president %>创建了工会<%= guild_link guild %></div>
	<div><%= link_to_remote 'x', :url => feed_delivery_url(delivery), :method => :delete %></div>
	<div><%= ftime delivery.created_at %></div>
</div>
