<%= javascript_include_tag 'photo_slide' %>
<%= javascript_include_tag 'home' %>

<% content_for :left do %>
  <%= render :partial => '/app_menu' %><br/>
<% end %>

<div class='status'>
  <div class='icon'>
    <%= avatar current_user %>
  </div>
  <div class='form'>
  <% form_remote_for :status, :url => statuses_url(:home => 1) do |f| %>
    <%= f.text_area 'content', :cols => 50, :rows => 3 %>
    <%= f.submit '提交', :class => 'confirm_button' %><br/>
    <div id='latest_status'>
      <% unless current_user.latest_status.nil? %>
        <%= distance_of_time_in_words_to_now(current_user.latest_status.created_at) %> ago: <%= current_user.latest_status.content %>
      <% end %>
    </div>
		<div class='emotion'>
			<%= emotion_link "status_content" %>
		</div>
    <div style="text-align:right">
    </div>
  <% end %>
  </div>
</div>

<div>
	<%= link_to_function "全部", "home_manager.show_feeds();" %> |
	<%= link_to_function "状态", "home_manager.show_feeds(0);" %> |
	<%= link_to_function "日志", "home_manager.show_feeds(1);" %> |
	<%= link_to_function "视频", "home_manager.show_feeds(2);" %> |
	<%= link_to_function "照片", "home_manager.show_feeds(3);" %> |
	<%= link_to_function "活动", "home_manager.show_feeds(4);" %> |
	<%= link_to_function "投票", "home_manager.show_feeds(5);" %> |
	<%= link_to_function "工会", "home_manager.show_feeds(6);" %>
</div>

<div>
<div id='feed_list'>
	<% @feed_deliveries.each do |f| %>
		<%= render :partial => "#{f.feed_item.originator.class.to_s.underscore}_feed_delivery", :object => f %>
	<% end %>
</div>
<div id='more_feed'>
	<%= link_to_function '更多新鲜事', "home_manager.more_feeds();" %>
</div>
</div>

<%= javascript_tag "
	home_manager = new HomeManager(#{@idx});	
"%>
