<% content_for :left do %>
  <%= render :partial => '/app_menu' %>
<% end %>

<%= render :partial => 'menu' %>

<div class='prev-next'>
<%= "共#{@user.videos.count}篇视频" %>
<%= link_to 'prev', video_url(@video.prev) %> |
<%= link_to 'next', video_url(@video.next) %> <br/>
</div>

<div class='video-view'>
  <div class='title'>
    <h3 style="width: 75%;"><%= @video.title %><span class='meta'><%= ftime @video.created_at %></span></h3>
    <div class='option'>
      <% if @user == current_user %>
      <%= link_to "编辑", edit_video_url(@video) %>
      <%= facebox_confirm "删除", video_url(@video), {:msg => '你确定要删除这个视频吗', :method => :delete} %>
      <% end %>
      <%= link_to_remote '挖', :url => video_digs_url(@video) %>(<span id='dig_video_<%= @video.id %>'><%= @video.digs_count %></span>)
    </div>
  </div>
  <div class='view'>
    <%= @video.link %>
  </div>
  <div id='friend_tags'>
  标签: <%= @video.tags.map { |t| profile_link t.friend }.join(',') %>
  </div>
</div>

<div id='video_comments_<%= @video.id %>'>
  <%= render :partial => 'video/comments/comment', :collection => @comments %>
</div> 
    
<div class='msg-body'> 
  <% form_remote_for :comment, :url => video_comments_url(@video) do |f| %>
  <div class='composer'>
    <%= hidden_field_tag 'comment[recipient_id]', @user.id%>
    <%= f.text_area 'content', :rows => 5, :cols => 75, :id => "video_comment_content_#{@video.id}" %>
  </div>
  <div class='emotion'>
    <%= emotion_link "video_comment_content_#{@video.id}" %>
  </div>
  <div class='button'>
    <%= f.submit '提交', :class => 'confirm-button' %>
    <%= f.label '悄悄话' %><%= f.check_box 'whisper' %>
  </div>
  <% end %>
</div>

