<% content_for :left do %>
  <%= render :partial => '/app_menu' %><br/>
  <div class='blog-right-bar'>
    <div class='part'>
      <h3>相册分类: </h3>
      <% game_options = [['全部', nil]] %>
      <% @user.games.each {|g| game_options << [g.name, g.id] } %>
      <%= select_tag '', options_for_select(game_options, params[:game_id].to_i), :onchange => "window.location.href = '#{personal_albums_url(:id => @user.id)}' + '&game_id=' + this.value;" %>
    </div>
  </div>
<% end %>

<%= render :partial => 'menu' %>

<div><%= "共#{@user.albums_count}个相册" %></div>

<div id='albums'>
  <%= render :partial => 'album_item', :collection => @albums %>
</div>

<%= will_paginate @albums %>

