<% content_for :left do %>
  <div class='guild-cover'>
    <%= album_cover @guild.album, :medium %><br/>
  </div>
  <%= render :partial => 'guild_menu' %><br/>
  <%= render :partial => 'guild_info' %>
<% end %>

<% content_for :right do %>
	<%= render :partial => 'guild_topics' %><br/>
  <%= render :partial => 'guild_events' %><br/>
  <%= render :partial => 'guild_friends' %>
<% end %>

<div class='guild-show'>
  <div class='guild-title'>
    "<%= @guild.name %>" 简介
  </div>
  <div class='info'>
    <%= @guild.description %>
  </div>
  <div class='detail'>
    <h3>照片</h3>
    <table><tr>
    <% @album.photos[0..7].each do |p| %>
      <td><%= photo_link p %></td>
    <% end %>
    </tr></table>
    <div class='view-all'>
      <%= link_to '查看全部', guild_album_url(@guild.album) %>
    </div>
  </div>
  <div class='detail'>
    <h3>成员</h3>
    <table><tr/>
    <% @guild.members[0..7].each do |m| %>
      <td>
        <%= avatar m %><br/>
        <%= profile_link m %>
      </td>
    <% end %>
    </tr></table>
    <div class='view-all'>
      <%= link_to '查看全部', guild_memberships_url(@guild, :type => 0) %>
    </div>
  </div>
  <div class='wall'>
    <h3>留言版</h3>
    <% if @membership %>
			<% form_remote_for :comment, :url => guild_comments_url(@guild) do |f| %>
      <div class='composer'>
        <%= hidden_field_tag 'comment[recipient_id]', @user.id%>
        <%= f.text_area 'content', :rows => 5, :cols => 75, :onkeyup => "return limit_words_of_textarea(this, 140, $('comment_words_count'));" %>
      </div>
      <div class='button'>
        <%= f.submit '提交', :class => 'confirm-button' %>
        <%= f.label '悄悄话' %><%= f.check_box 'whisper' %>
      </div>
      <% end %>
      <div id="comment_words_count" class="status-count">0/140</div>
      <div><%= emotion_link 'comment_content' %></div>	
    <% else %>
       只有会员才能留言
    <% end %>
    <div class='view-all'>
      <%= link_to '查看全部', guild_comments_url(@guild) %>
    </div>
  </div>
  <div id='comments'>
    <%= render :partial => 'guild/comments/comment', :collection => @comments %>
  </div> 
</div>

